#heading1{
    color:green;
    background-color:aquamarine;
}

.text-pink{
    color:rgb(253, 141, 215);
    background-color: blanchedalmond;
}

.text-background-yellow{
    background-color: yellow;
}

body{
    background-image: url("../assets/img/happyman.jpg");
    background-size: 35%;
    background-attachment: fixed;
}

.text-orange{
    color:rgb(240, 146, 52);
    background-color: rgb(237, 255, 215);
}

.text-para{
    font-size: 4.2rem
    text-align: justify;
}