#heading1{
    color:green;
    background-color:aquamarine;
    font-family: "stack sans notch", "Lucida Handwriting", cursive;
    font-style: italic;
    font-weight: lighter;
}

.text-pink{
    color:rgb(253, 141, 215);
    background-color: blanchedalmond;
    text-shadow: 10px 10px 15px rgb(17, 8, 63);
}

.text-background-yellow{
    background-color: yellow;
}

body{
    background-image: url("../assets/img/happyman.jpg");
    background-size: 35%;
    background-attachment: fixed;
}

.text-orange{
    color:rgb(240, 146, 52);
    background-color: rgb(237, 255, 215);
}

.text-para{
    font-size: 2rem
    text-align: justify;
    text-decoration-line: overline;
    text-decoration-style: wavy;

}

a{
    color: blueviolet;
}
a:hover{
    color: rgb(214, 122, 189);
}