:root {
    --primary-red: rgb(218, 42, 45);
    --just-red: rgb(198, 95, 97);
}


#heading1{
    color:green;
    background-color:aquamarine;
    font-family: "stack sans notch", "Lucida Handwriting", cursive;
    font-style: italic;
    font-weight: lighter;
    padding: 20px 10px 20px 10px;
    margin-left: 70px;
}

.text-pink{
    color:rgb(204, 102, 222);
    background-color: blanchedalmond;
    text-shadow: 10px 10px 15px rgb(17, 8, 63);
}

.text-background-yellow{
    background-color: yellow;
}

body{
    background-image: url("../assets/img/happyman.jpg");
    background-size: 35%;
    background-attachment: fixed;
}

.text-orange{
    color:rgb(240, 146, 52);
    background-color: rgb(237, 255, 215);
}

.text-para{
    font-size: 2rem
    text-align: justify;
    text-decoration-line: overline;
    text-decoration-style: wavy;

}

a{
    color: rgb(226, 43, 73);
    text-decoration: none;
    background-color: #78c52079;
    padding: 20px 10px 20px 10px; 
    margin-left: 50px;
}
a:hover{
    color: rgb(214, 122, 189);
    background-color: yellow;
}
a:visited{
    color: rgb(0, 0, 0);
}
a:active{
    color:rgb(116, 16, 16)
}

@media (max-width: 576px)  {
    body {
        background-color: lightcyan;
    }
}